.control {
  margin: 1rem 0;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
  color: #2B374B;
}
.control input::placeholder,
.control textarea::placeholder {
  font-size: 14px;
  color: #2b374bc4;
}
.control input,
.control textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 5px;
  border-radius: 5px;
  border: none;
  /* border: 1px solid #2B374B; */
  background: linear-gradient(
    91.91deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.4) 100.82%
  );
  resize: vertical;
  /* box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25); */
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #2B374B;
}