* {
  box-sizing: border-box;
}
* ::-webkit-scrollbar {
  width: 6px;
}

* ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.521);
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://github.com/bhupenderhere/to-do-list-web-application/blob/main/images/body__background.png?raw=true");
  background-color: aquamarine;
}